<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="logoutnav:: navbar (${user.getUserEmailWithRoles()})"></div>
<div th:object="${user}">
    <p>Your first name: <span th:text="*{firstName}">First name</span></p>
    <p>Your last name: <span th:text="*{lastName}">First name</span></p>
    <p>Your username: <span th:text="*{username}">First name</span></p>
    <p>Your cryptopassword: <span th:text="*{password}">First name</span></p>
    <p>Your roles: <p th:each="role : *{roles}"><span th:text="${role.getName()}">Role</span></p>
</div>
<div th:each="role : ${user.roles}" th:if="${role.getName().equals('ROLE_ADMIN')}">
    <form method="get" action="/admin">
        <input type="submit" value="Admin panel" />
    </form>
</div>
<br/>
<div th:insert="~{logoutfragment :: logout}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
</body>
</html>